{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block page_header %}
  <div class="page-header">
    <h1>{{ plate.name }}</h1>
  </div>
{% endblock %}

{% block content %}
  <p>{{ plate.description }}<p>
 <p>Alergias:{{ plate.allergies }}<p> 
 <hr>
  <h2>Ingredientes Extra</h2>
  {% if plate.extra_ingredients %}
    {% for extra_ingredient in plate.extra_ingredients %}
       <p>{{ extra_ingredient.ingredient }}...................{{ extra_ingredient.ing_price }}</p>
    {% endfor %}
  {% endif %}
  <hr>
<h2>Add a extra ingredient</h2>
<form action="." method="post">
  {{ forms.render(form) }}
  <div class="actions">
    <input type="submit" class="btn primary" value="add">
  </div>
</form>
{% endblock %}
